.account-settings > div {
  gap: var(--space-600);
  margin-top: var(--space-500);
}

.account-settings input {
  width: 100%;
}

form,
section {
  padding: var(--space-450) var(--space-500);
}

.information {
  --flow-space: var(--space-600);
}

form.grid,
fieldset.grid {
  gap: 0;
}

@media (min-width: 45em) {
  form,
  section {
    padding: var(--space-600);
  }

  form button {
    justify-self: end;
  }

  .account-settings > div {
    grid-template-rows: auto 1fr;
    align-items: start;
    gap: var(--space-700);
  }

  .account-settings h1 {
    grid-column: span 2;
  }

  .information {
    grid-row: span 2;
  }
}
