.account-sections {
  gap: var(--space-500);
}
.account-sections > div {
  grid-auto-rows: 1fr;
}
section {
  padding: var(--space-500) var(--space-400);
}

section > :nth-last-child(2) {
  margin-bottom: var(--space-500);
}

section ul {
  margin-top: auto;
}

@media (min-width: 45em) {
  .account-sections > button {
    justify-self: end;
    align-self: end;
  }
  .account-sections > div {
    grid-column: span 2;
  }

  section {
    padding: var(--space-600);
  }
}
