.contact > div {
  padding: var(--space-500) var(--space-450);
}

.contact-info {
  justify-content: center;
  --gap: 0;
  color: var(--clr-neutral-100);
}

.contact-info > * + * {
  border-top: 1px solid var(--clr-neutral-100);
}

.contact-info > div {
  text-align: center;
  padding-block: var(--space-600);
}

@media (min-width: 50em) {
  .contact {
    grid-template-columns: 2fr 1fr;
    gap: 0;
  }

  .contact > div {
    padding: var(--space-700);
  }

  form button {
    align-self: start;
  }
}
