/** 1. General
-------------------------*/
/* #region */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  vertical-align: top;
}

.odd-table-rows > :nth-child(odd) {
  background-color: var(--clr-table);
}

.history > :nth-child(2),
.order-details > :nth-child(2) {
  margin-top: var(--space-500);
}

/** 1. History
-------------------------*/
/* #region */
.history th,
.history td {
  padding: var(--space-375);
}

.history td > span {
  display: block;
}

.history td:not(.products) {
  width: 15%;
  padding-right: var(--space-500);
}

.history .products {
  width: 100%;
}

@media (max-width: 45em) {
  .history th:nth-of-type(1n + 3),
  .history tr > td:nth-of-type(1n + 3) {
    display: none;
  }

  .history td:nth-of-type(1) {
    width: 100%;
  }
}

/** 1. Details
-------------------------*/
/* #region */

.order-details {
  --max-width: 900px;
}

.order-details table :first-child {
  width: 100%;
}

.order-details td:last-of-type {
  text-align: right;
}

.order-details .table-wrapper {
  padding-block: var(--space-450);
  border-top: 1px solid var(--clr-table);
}

.order-details .table-wrapper:last-of-type {
  border-bottom: 1px solid var(--clr-table);
}

@media (min-width: 45em) {
  .order-details .table-wrapper {
    padding-block: var(--space-500);
    margin-left: auto;
  }

  .order-details .details {
    width: 20rem;
    justify-self: flex-start;
  }
  .order-details .pricing {
    width: 20rem;
    justify-self: flex-end;
  }

  .order-details .details tr {
    display: table-row;
  }

  .order-details .details td {
    text-align: left;
  }
}
